<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>boardlist</title>


    <h1>글목록 페이지</h1>
</head>

<body>
<div>
<form action="/boardsearch.html">

    <select name="category" >
        <option selected="selected">제목</option>
        <option>내용</option>
        <option>작성자</option>

    </select>
    검색어:<input type="text" name="search">
    <input type="submit" value="검색">
</form>
</div>

<div>
<table border="5" >
    <thead>
    <tr>
        <th>번호</th>
        <th>제목</th>
        <th>작성자</th>
        <th>조회수</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="board : ${boards}">


        <td th:text="${board.id}">
        </td>


        <td>
        <a th:href="@{/board/details}">
           <p th:text="${board.title}"></p>
        </a>
        </td>

        <td th:text="${board.name}"></td>

        <td>0</td>

    </tr>
    </tbody>
</table>
</div>

<br>

<div>
    <h3>페이지번호</h3>
    <br>
    <a href="/board/boardlist.html">1&nbsp;</a>
    <a href="/board/boardlist.html">2&nbsp;</a>
    <a href="/board/boardlist.html">3&nbsp;</a>
    <a href="/board/boardlist.html">4&nbsp;</a>
    <a href="/board/boardlist.html">5&nbsp;</a>

</div>

<br>
<div>
<form action="/board/boardstart.html">
    <button type="submit" class="btn btn-primary">게시판홈</button>
</form>
    <br>

    <form action="/board/boardwrite.html">
        <button type="submit" class="btn btn-success">글쓰기</button>
    </form>

</div>




</body>
</html>