<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>boardhome</title>

    <style>
h1 {color: orange; text-align:center;

}
li{ color : yellow; margin:20px;  width:200px; font-size:20px;}
li > a {color : yellow;  }

@media screen and (max-width:1000px){
body{}
}



    </style>



</head>
<body>

<br>
<hr>

<h1>June 게시판</h1>

<hr>


<ul>
    <li>
        <a href="/allboard">글목록</a>
    </li>
    <li>
        <a href="/writeboard">글쓰기</a>
    </li>
    <li>
        <a href="">회원가입</a>
    </li>
    <li>
        <a href="">로그인</a>
    </li>
</ul>
</body>
</html>