<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>boardlist</title>



    <style>
h1{color:orange; text-align:center;
    border: 5px solid yellow;
    margin-left : 500px;
    padding : 10px;
border-radius: 30px;
width : 300px;
box-shadow : 10px 10px 5px orange;
text-shadow : 5px 5px 5px pink;
 }

a:link{color:yellow;}
a:visited{color:purple;}
a:hover{color:blue;}
    </style>


</head>

<body>

<h1>글목록 페이지</h1>

<Br>


<div style="margin-left:20px; margin-bottom:50px; border: 5px solid green;
padding : 5px;
">
<form action="/boardsearch.html">

    <select name="category" >
        <option selected="selected">제목</option>
        <option>내용</option>
        <option>작성자</option>

    </select>
    &emsp; 검색어 : <input type="text" name="search">
    <input type="submit" value="검색" style="font-size:15px;">
</form>
</div>

<div style="
text-align:center;
margin-left:400px;
margin-right: 500px;
border : 1px solid yellow;
width : 600px;
">
<table border="5" style="width : 600px; ">
    <thead>
    <tr style="background-color:gray;" >
        <th>번호</th>
        <th>제목</th>
        <th>작성자</th>
        <th>조회수</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="board : ${boards}">


        <td th:text="${board.id}">
        </td>


        <td>
        <a th:href="@{/board/details}">
           <p th:text="${board.title}"></p>
        </a>
        </td>

        <td th:text="${board.name}"></td>

        <td>0</td>

    </tr>
    </tbody>
</table>
</div>

<br>

<div style="text-align:center;">
    <h3>페이지번호</h3>
    <a href="/board/boardlist.html">1&nbsp;</a>
    <a href="/board/boardlist.html">2&nbsp;</a>
    <a href="/board/boardlist.html">3&nbsp;</a>
    <a href="/board/boardlist.html">4&nbsp;</a>
    <a href="/board/boardlist.html">5&nbsp;</a>

</div>
<br>
<br>
<div style="margin-left : 50px;">
<form action="/">
    <button type="submit" class="btn btn-primary" style="font-size:20px;
background-color:green;
">게시판홈</button>
</form>
    <br>

    <form action="/writeboard">
        <button type="submit" class="btn btn-success"
                style="font-size:20px;
                background-color:blue;

">

            글쓰기</button>
    </form>

</div>




</body>
</html>